@model MVCApp1.Models.LoginResult
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>@(Model.IsOK?"登录成功":"登陆失败")</title>
</head>
<body>
    @if (Model.IsOK)
    {
        <div>@(Model.UserName)登录成功</div>
        <table>
            <thead>
                <tr><th>进程Id</th><th>进程名</th><th>内存占用</th></tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Processes)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.ProcessName</td>
                        <td>@(p.WorkingSet64 / 1024)K</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <text>@(Model.UserName)登陆失败</text>
    }
</body>
</html>